/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Noto Sans JP', sans-serif;
}

img {
    width: 100%;
}

ul,
ol,
menu,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* VARIABILI */

:root {
    --blue: #0084FD;
    --lightblue: #B5DDFF;
    --purple: #9792E4;
    --dark: #333333;
    --yellow: #FDC15F;
    --white: white;
    --black: black;
}

/* CONTAINER */

.container {
    /* Aggiungo il margine (20dx e 20sx alla dimensione del container per non modificare la dimensione del contenuto) */
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
}

.container-small{
    max-width: 920px;
    margin: 0 auto;
    padding: 0 20px;
}

/* BUTTON */

.button{
    border-radius: 999px;
    width: max-content;
}

.button-white{
    background-color: var(--white);
    color: var(--black);
}

.button-blue{
    background-color: var(--blue);
    color: var(--white);
}

/* ROW */

.row {
    display: flex;
    flex-wrap: wrap;
    
}

.row-nowrap{
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.gap{
    row-gap: 20px;
}

/* COLUMN */

.column{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.col-3 {
    flex-basis: calc(100%/3);
}

.col-double {
    flex-basis: calc((100%/3)*2);
}

.col-5{
    flex-basis: calc(100% / 2);
}

.col-12{
    flex-basis: 100%;
}

.col-2{
    flex-basis: calc(100% / 6);
}

/* HEADER */

.main-header {
    background-color: var(--blue);
    padding: 19px 0;
    color:  white;
}

.main-header nav.row {
    align-items: center;
}

.nav-item a {
    line-height: 38px;
    font-size: 16px;
    padding: 0 16px;
}

.menu-hamburger {
    display: none;
}

/* MEDIAQUERY HEADER */

@media screen and (max-width: 991px) {
    .menu-hamburger {
        display: block;
    }

    .header-nav {
        display: none;
    }

}

/* APPLICATION */

.application{
    padding: 30px 0;
}

.application [class^="col-"]{
    padding: 0 16px;
}

.application .row{
    margin: 0 -16px;
    row-gap: 32px;
}

.application .col-3 > .card{
    text-align: center;
}

.card {
    background-color: var(--lightblue);
    padding: 20px;
    border-radius: 20px;
}

.card-icon{
    color: var(--blue);
    font-size: 52px;
}

.card-title{
    color: var(--blue);
    font-size: 20px;
}

.col-5.card-img{
    margin: 0 auto;
}

.col-5.card-img > img {
    width: 60%;
}

/* .application .col-double .col-5.card-img{
    padding-bottom: 0;
} */


/* MEDIAQUERY APPLICATION */

@media screen and (max-width: 991px){

    .application .row-nowrap{
        flex-wrap: wrap;
    }

    .application .col-5{
        flex-basis: 100%;
    }
} 

@media screen and (max-width: 575px) {
    .application [class^="col-"] {
        flex-basis: calc(100%);
    }

}

/* SECTION PLANNING */

.planning{
    background-color: var(--purple);
    padding: 40px 0;
}

.planning .row{
    gap: 60px;
}

.planning .col{
    /* Soluzione per gestire colonne di grandezza uguale su un unica riga,
    che si prendono tutto lo spazio in una riga in modo omogeneo */
    flex-basis: 0;
    flex-grow: 1;
}

.planning .col-img{
    margin-bottom: 100px;
}

.planning .col-align{
    align-self: flex-end;
}

.planning .col-title{
    margin-bottom: 50px;
    color: var(--white);
}

.planning .col-text{
    color: var(--white);
}

.card-planning{
    background-color: var(--white);
    border-radius: 50px;
    padding: 32px 40px;
    align-items: center;
    text-align: center;
}

.card-planning img{
    max-width: 60%;
}

.card-planning p{
    line-height: 1.7em;
}

/* MEDIAQUERY PLANNING */

@media screen and (max-width: 991px){
    .planning .row .col{
        flex-basis: 100%;
    }
}

/* SECTION TESTIMONIALS */

.testimonials{
    padding: 40px 0;
}

.testimonials .row.gap{
    text-align: center;
    padding: 20px 0;
}

.testimonials-title{
    font-size: 14px;
    font-weight: 300;
}

.testimonials-subtitle{
    font-size: 30px;
    font-weight: 700;
    color: var(--purple);
}

.testimonials-card{
    background-color: var(--purple);
    padding: 20px 0;
    border-radius: 20px;
}

.testimonials img{
    border-radius: 50px;
}

.card-cit{
    color: var(--white);
    justify-content: center;
}

.testimonials .card-img,
.testimonials .card-cit{
    padding: 0 20px;
}
