/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Noto Sans JP', sans-serif;
}

img {
    width: 100%;
}

ul,
ol,
menu,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* VARIABILI */

:root {
    --blue: #0084FD;
    --lightblue: #B5DDFF;
    --purple: #9792E4;
    --dark: #333333;
    --yellow: #FDC15F;
    --white: white;
    --black: black;
}

/* CONTAINER */

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

/* BUTTON */

.button{
    border-radius: 999px;
}

.button-white{
    background-color: var(--white);
    color: var(--black);
}

/* ROW */

.row {
    display: flex;
    flex-wrap: wrap;
    
}

.space-between {
    justify-content: space-between;
}

/* COLUMN */

.col-3 {
    flex-basis: calc(100%/3);
}

.col-double {
    flex-basis: calc((100%/3)*2);
}


/* HEADER */

.main-header {
    background-color: var(--blue);
    padding: 19px 0;
    color:  white;
}

.main-header nav.row {
    align-items: center;
}

.nav-item a {
    line-height: 38px;
    font-size: 16px;
    padding: 0 16px;
}

.menu-hamburger {
    display: none;
}

/* MEDIAQUERY HEADER */

@media screen and (max-width: 991px) {
    .menu-hamburger {
        display: block;
    }

    .header-nav {
        display: none;
    }

    .container{
        max-width: 900px;
    }
}

/* APPLICATION */

.application{
    padding: 30px 0;
}

.application [class^="col-"]{
    padding: 0 16px;
}

.application .row{
    margin: 0 -16px;
    row-gap: 32px;
}

.card {
    background-color: var(--lightblue);
    padding: 20px;
    border-radius: 20px;
    min-height: 200px;
}

/* MEDIAQUERY APPLICATION */

@media screen and (max-width: 575px) {
    .application [class^="col-"] {
        flex-basis: calc(100%);
    }

}